.nav {
    padding: 20px;

}

.link {
    text-decoration: none;
    margin-left: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: rgb(44, 186, 222);
    font-size: x-large;
    text-align: right;
}